parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - vendor
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method Psr\\Http\\Message\\StreamInterface::__toString\(\)#'
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics

